<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pundi.mapper.EtherScanRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.pundi.entity.EtherScanRecordEntity">
        <id column="id" property="id" />
        <result column="block_num" property="blockNum" />
        <result column="block_hash" property="blockHash" />
        <result column="sender_address" property="senderAddress" />
        <result column="receiver_address" property="receiverAddress" />
        <result column="amount" property="amount" />
        <result column="token_name" property="tokenName" />
        <result column="token_address" property="tokenAddress" />
        <result column="transaction_hash" property="transactionHash" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="deleted_at" property="deletedAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, block_num, block_hash, sender_address, receiver_address, amount, token_name, token_address, transaction_hash, version, deleted, deleted_at, updated_at, created_at
    </sql>

</mapper>
